@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200..900&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

footer {
  height: 3vh;
  padding: 0 1rem;
}

h1 {
  font-size: 1rem;
}

h1 span {
  text-decoration: underline;
}

.info {
  position: fixed;
  top: 0;
  right: 1em;
  z-index: 1000;
  max-width: 200px;
  background: white;
  padding: 1.5rem;
}

small {
  display: block;
}

#app {
  width: 100vw;
  height: 97vh;
}
